dbhost = localhost
dbport = 3306
dbuser = irisuser
dbpasswd = ''
dbname = arm
tmp_dir = /tmp
root = cairis
default_image_dir = .
web_port = 7071
log_level = warning
web_static_dir = cairis/cairis/web
upload_dir = /tmp
