include tox.ini
include MANIFEST.in
include README.md
include LICENSE
include requirements.txt
include test_requirements.txt
graft cairis
prune cairis/test
recursive-include examples *
global-exclude *.svg
global-exclude *.py[co]
