cairis=1.0.0
mysqlclient==1.3.7
dblatex=0.3.4-2
pydot==1.0.2
pyparsing==1.5.7
argparse==1.2.1
coveralls==1.1
pytest==2.9.1
pytest-cache==1.0
pytest-cov==2.2.1
pytest-pep8==1.0.6
wxGlade==0.6.5
wxPython==2.8.12.1
wxPython-common==2.8.12.1
