dbhost = 127.0.0.1
dbport = 3306
dbuser = cairisuser
dbpasswd = cairisuser
dbname = cairis_default
tmp_dir = /tmp
root = /home/cairisuser/cairis/cairis
default_image_dir = .
web_port = 7071
log_level = warning
web_static_dir = /home/cairisuser/cairis/cairis/web
upload_dir = /tmp
