{% from "security/_macros.html" import render_field_with_errors, render_field %}
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="dist/css/login.css" rel="stylesheet" />
<link href="dist/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<div class="container">
  <div class="row">
    <div class="loginac is-Responsive">
      <div id="logo-container"></div>
      <div><strong class="col-sm-12 col-md-10 col-md-offset-1">CAIRIS Login</strong></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_for" class="form-horizontal" role="form">
          {{ login_user_form.hidden_tag() }}
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" id='email' name='email' placeholder="username"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" id='password' name='password' placeholder="password"/>     
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-def btn-block" id="submit" name="submit">Login</button>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>
