<ul class="sidebar">
  <p class="separator">Navigation</p>
    <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
    <li><a href="{{ "/why.html" | prepend: site.baseurl }}">Why CAIRIS</a></li>
    <li><a href="{{ "/install.html" | prepend: site.baseurl }}">Installing CAIRIS</a></li>
    <li><a href="{{ "/running.html" | prepend: site.baseurl }}">Running CAIRIS</a></li>

    <a class="goto-top-link hide-on-phone" href="#top">
        <div class="goto-top text-center">
            <i class="fa fa-step-forward fa-rotate-270"></i>
        </div>
    </a>
</ul>
