<ul class="sidebar">
  <p class="separator">Navigation</p>
    <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
    <li><a href="{{ "/why.html" | prepend: site.baseurl }}">Why CAIRIS</a></li>
    <li><a href="{{ "/papers.html" | prepend: site.baseurl }}">Papers about CAIRIS</a></li>
    <li><a href="{{ "/install.html" | prepend: site.baseurl }}">Installing CAIRIS</a></li>
    <li><a href="{{ "/running.html" | prepend: site.baseurl }}">Running CAIRIS</a></li>
      <ul>
        <li><a href="{{ "/starting.html" | prepend: site.baseurl }}">Starting the project</a></li>
        <li><a href="{{ "/environments.html" | prepend: site.baseurl }}">Environments</a></li>
        <li><a href="{{ "/assets.html" | prepend: site.baseurl }}">Assets</a></li>
        <li><a href="{{ "/rolespersonas.html" | prepend: site.baseurl }}">Roles and Personas</a></li>
        <li><a href="{{ "/tasks.html" | prepend: site.baseurl }}">Tasks</a></li>
        <li><a href="{{ "/domainproperties.html" | prepend: site.baseurl }}">Domain Properties</a></li>
        <li><a href="{{ "/goalsreqsobs.html" | prepend: site.baseurl }}">Goals, Requirements, and Obstacles</a></li>
        <li><a href="{{ "/securitypatterns.html" | prepend: site.baseurl }}">Security Patterns</a></li>
        <li><a href="{{ "/vulnerabilities.html" | prepend: site.baseurl }}">Vulnerabilities</a></li>
        <li><a href="{{ "/attackers.html" | prepend: site.baseurl }}">Attackers</a></li>
        <li><a href="{{ "/threats.html" | prepend: site.baseurl }}">Threats</a></li>
        <li><a href="{{ "/risks.html" | prepend: site.baseurl }}">Risks</a></li>
        <li><a href="{{ "/riskresponses.html" | prepend: site.baseurl }}">Risk Responses</a></li>
        <li><a href="{{ "/countermeasures.html" | prepend: site.baseurl }}">Countermeasures</a></li>
        <li><a href="{{ "/documentation.html" | prepend: site.baseurl }}">Generating Documentation</a></li>
      </ul>

    <a class="goto-top-link hide-on-phone" href="#top">
        <div class="goto-top text-center">
            <i class="fa fa-step-forward fa-rotate-270"></i>
        </div>
    </a>
</ul>
