<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
	  {% if post.image.teaser %}
	  <img src="/images/{{ post.image.teaser }}"  style="width:100%;height:100%;" alt="teaser" itemprop="image">
    {% else %}
    <img src="{{ site.url }}/images/{{ site.teaser }}" style="width:100%;height:100%;" alt="teaser"  itemprop="image">
    {% endif %}  </a>
  {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.description | strip_html | truncate: 160 }}</p>
</article><!-- /.tile -->
