dbhost = cairis-mysql
dbport = 3306
dbuser = cairisuser
dbpasswd = cairisuser
dbname = cairis_default
rpasswd = my-secret-pw
tmp_dir = /tmp
root = /cairis/cairis
default_image_dir = /images
web_port = 7071
log_level = warning
web_static_dir = /cairis/cairis/web
upload_dir = /images
secret_key = super-secret
password_hash = sha512_crypt
password_salt = 2\x87\x8b}\x8f\xf4G\x00\x03\xd3\xdaHa\xf6h\xda(A\xfe\x83\xcb\x05\xb9\x00\xd1\xf9(4\x02\xa8\x98\xdc\x9b}&\xbe\xd0\x80GYr \x88i\xf43\x0e\xb0R-\x1c\x8a\xda\x18\xa3\xd3I\x14\xea\xac\x81\x1e\xe6t
