dbhost = cairis-mysql
dbport = 3306
rpasswd = my-secret-pw
tmp_dir = /tmpDocker
root = /cairis/cairis
web_port = 8000
log_level = debug
web_static_dir = /cairis/cairis/dist
web_asset_dir = /cairis/cairis/dist
mail_server = 
mail_port = 
mail_user = 
mail_passwd =
secret_key = super-secret
docker = True
