argparse>=1.4.0
coveralls>=1.1
coverage>=4.2
jsonpickle>=0.9.3
mysqlclient>=1.4.4
numpy>=1.6.2
pyparsing>=2.1.10
pydot>=1.2.3
pytest>=3.0.3
pytest-cache>=1.0
pytest-cov>=2.4.0
pytest-pep8>=1.0.6
npyscreen>= 4.10.5
Flask>=1.0.2
Flask-RESTful>= 0.3.5
flask-restful-swagger>= 0.19
Flask-Cors>= 3.0.2
Flask-SQLAlchemy>=2.5.1
Flask-Security-Too>=5.1.0
Flask-Script>=2.0.6
Flask-OAuthlib>=0.9.3
Flask-Mail>=0.9.1
mako>=1.0.4
lxml>=3.6.4
openpyxl>=2.4.0
SQLAlchemy>=2.0.0
bcrypt>=3.1.6
python-magic>=0.4.15
email_validator>=1.0.5
xlsxwriter>=1.2.7
